.courses-over-top {
  padding-top: 15px;
  .breadcrumbs {
    margin-bottom: 20px;
    .breadcrumbs__link,
    .breadcrumbs__item::after {
        color: #99a1ba;
    }
    .breadcrumbs__item:last-child {
      .breadcrumbs__link {
      color: #1e1e1e;
      }
    }
  }
}

.courses-over-top__row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  @include max(760) {
    flex-direction: column;

  }

}
.courses-over-top__title{
  color: #1e1e1e;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.courses-over-top__label{
  display: flex;
  margin-bottom: 15px;
}
.courses-over-top__label-svg{
  flex:none;
  margin-right: 12px;
  margin-top: 10px;
  svg {
    width: 24px;
    height: 24px;
    fill: #99a1ba;
  }
}
.courses-over-top__label-text{
  color: #99a1ba;
  display: block;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
