.courses-over-top {
  padding-top: 15px;
  .breadcrumbs {
    margin-bottom: 20px;
    .breadcrumbs__link,
    .breadcrumbs__item::after {
      color: #99a1ba;
    }
    .breadcrumbs__item:last-child {
      .breadcrumbs__link {
        color: #1e1e1e;
      }
    }
  }
}

.courses-over-top__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include max(760) {
    flex-direction: column;
  }
}

.courses-over-top__title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #1e1e1e;
}

.courses-over-top__label {
  display: flex;
  margin-bottom: 15px;
}

.courses-over-top__label-svg {
  flex: none;
  margin-top: 10px;
  margin-right: 12px;
  svg {
    fill: #99a1ba;
    width: 24px;
    height: 24px;
  }
}

.courses-over-top__label-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  display: block;
  margin-top: 8px;
  color: #99a1ba;
}
