.footer {
  background-color: $brand;
  background-image: $gradient;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;

  @include max(1220) {
    flex-wrap: wrap;
  }
}

.footer-top__item {
  width: calc(17% - 29px);
  margin-bottom: 20px;

  @include max(1220) {
    width: 30%;
  }

  @include max(600) {
    width: 45%;
  }

  @include max(375) {
    width: 100%;
  }
}

.footer-top__logo {
  font-family: $font-logo;
  font-size: 20px;
  display: block;
  margin-bottom: 27px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #fff;
  }
  img {
    display: block;
    width: 95%;
  }
}

.footer-top__logo-subtitle {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .3px;
  color: #99a1ba;
  font-weight: 300;
}

.footer-top__title {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
  padding-top: 5px;
  color: #fff;
}

.footer-top__list {
  margin: 0;
  padding: 0;
}

.footer-top__list-item {
  padding: 0;
  list-style: none;
}

.footer-top__list-link {
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  text-decoration: none;
  color: #99a1ba;
  &:hover {
    color: #fff;
  }
}

.footer-top__adress {
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  letter-spacing: -.3px;
  color: #99a1ba;
  &:hover {
    color: #fff;
  }
}

.footer-top__phone {
  font-size: 20px;
  font-weight: 400;
  display: block;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.footer-top__social-list {
  margin: 15px 0 0 0;
}

.footer-bottom {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  @include max(600) {
    flex-wrap: wrap;
  }
}

.footer-bottom__copyright {
  margin-right: auto;
  padding: 15px 0;

  @include max(600) {
    width: 100%;
    padding: 5px 0;
  }
}

.footer-bottom__copyright-text {
  font-size: 12px;
  color: #99a1ba;
}

.footer-bottom__offer,
.footer-bottom__privacy {
  padding: 15px 0 15px 20px;

  @include max(600) {
    padding: 5px 15px 5px 0;
  }
}

.footer-bottom__offer-link,
.footer-bottom__privacy-link {
  font-size: 12px;
  text-decoration: none;
  color: #99a1ba;
}
