.header {
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__logo {
  //width: 100px;
  height: 44px;
  text-decoration: none;
  &:hover {
    color: #1e1e1e;
  }
  img {
    display: block;
    height: 45px;
  }
}

.header__social-list {
  margin-left: auto;

  @include max(425) {
    display: none;
  }

  .social-list__item {
    margin-right: 16px;
  }
  svg {
    &:hover {
      fill: $highlight-v;
    }
  }
  .social-list__link--vk svg {
    width: 19px;
    height: 11px;
  }

  .social-list__link--fb svg {
    width: 9px;
    height: 15px;
  }

  .social-list__link--inst svg {
    width: 16px;
    height: 15px;
  }

  .social-list__link--youtube svg {
    width: 16px;
    height: 13px;
  }
}

.header__phone {
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: none;
  color: #1e1e1e;

  @include max(600) {
    margin-left: 2px;
  }

  @include max(425) {
    margin-left: auto;
  }

  &:hover {
    color: $highlight-v;
  }
  span {
    @include max(600) {
      display: none;
    }
  }
  svg {
    display: none;
    fill: #99a1ba;
    width: 16px;
    height: 16px;
    transition: fill .5s;

    @include max(600) {
      display: block;
    }

    &:hover {
      fill: $highlight-v;
    }
  }
}

