.my-course-body-tabs {
  width: 100%;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #fff;
}

.my-course-body-tabs__tab {
  display: none;
  .profile-article__icons-icon {
    margin-left: auto;
  }
  .profile-article__comment-1 {
    .profile-article__comment-header {
      border-top: none;
    }
  }
  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    margin: 0 0 20px 0;
    color: #1e1e1e;
  }
  &.active {
    display: block;
  }
}

.my-course-body-tabs__btns {
  display: flex;
  border-bottom: 1px solid #e4e4f2;

  @include max(540) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.my-course-body-tabs__btn {
  font-size: 17px;
  font-weight: 300;
  position: relative;
  display: block;
  margin-right: 30px;
  padding: 18px 0;
  cursor: pointer;
  white-space: nowrap;
  color: #1e1e1e;

  @include max(540) {
    display: inline-block;
    margin-right: 0;
    padding-bottom: 7px;
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    content: '';
    transition: width .5s;
    background-color: $highlight-v;
  }
  &.active {
    font-weight: 500;
    pointer-events: none;
    &::before {
      width: 100%;
    }
  }
}

.my-course-body-tabs__tab {
  padding-top: 20px;
}

.my-course-body-tabs__tab-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #1e1e1e;
}

.my-course-body-tabs__tab {
  iframe {
    display: block;
    width: 100%;
    min-height: 350px;
    margin-bottom: 20px;
    border-radius: 5px;

    @include max(600) {
      min-height: 200px;
    }
  }
}

.my-course-body-tabs__tab-half-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include max(600) {
    flex-direction: column;
  }
}

.my-course-body-tabs__tab-half-img {
  overflow: hidden;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  border-radius: 5px;

  @include max(600) {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
}

.my-course-body-tabs__tab-agree {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 38px;
  border-bottom: 1px solid #e4e4f2;

  @include max(950) {
    flex-direction: column;
    align-items: flex-end;
  }
  .btn {
    min-width: 225px;

    @include max(950) {
      margin-top: 20px;
    }
  }
}

.my-course-body-tabs__tab-agree-text {
  display: flex;
  margin-right: 30px;
  text-align: right;

  @include max(950) {
    margin-right: 0;
  }
  span {
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    color: #99a1ba;
  }
}

.my-course-body-tabs__tab-agree-icon {
  margin-left: 19px;
  svg {
    fill: #99a1ba;
    width: 36px;
    height: 36px;
  }
}

.my-course-body-tabs__tab-02 {
  .my-course-body-tabs__tab-title {
    margin-bottom: 5px;
  }
}

.my-course-body-tabs__tab-subtitle {
  display: block;
  margin-bottom: 25px;
}

.my-course-body-tabs__materials {
  margin-bottom: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e4e4f2;
}

.my-course-body-tabs__materials-link {
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  display: block;
  min-height: 26px;
  padding-left: 50px;
  text-decoration: none;
  color: #1e1e1e;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.my-course-body-tabs__materials-link--pdf {
  background-image: url('../img/pdf.svg');
}

.my-course-body-tabs__materials-link--excel {
  background-image: url('../img/excel.svg');
}

.my-course-body-tabs__materials-link--word {
  background-image: url('../img/word.svg');
}

.my-course-body-tabs__materials-link--img {
  background-image: url('../img/img.svg');
}

.my-course-body-tabs__materials-link--video {
  background-image: url('../img/video.svg');
}
