.profile-article__header {
  position: relative;
}

//begin profile-article__header-row {
.profile-article__header-row {
  display: flex;
}

.profile-article__header-row--main {
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e4f2;

  @include max(425) {
    flex-direction: column-reverse;
  }
}

.profile-article__header-row--title {
  padding-top: 20px;
  padding-bottom: 15px;
}

.profile-article__header-row--undertitle {
  padding-bottom: 5px;

  @include max(600) {
    flex-wrap: wrap;
  }
}

//end profile-article__header-row {

//begin tabs
.profile-article__tabs-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;

  @include max(1140) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}

.profile-article__tabs-item {
  position: relative;
  margin-right: 30px;
  padding: 11px 0 0 0;
  list-style: none;

  @include max(1140) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 3px;
    margin: auto;
    content: '';
    transition: width .5s;
    background-color: $highlight-v;

    @include max(1140) {
      bottom: -3px;
    }
  }
  &:hover {
    .profile-article__tabs-link {
      color: #1e1e1e;
    }
    &::before {
      width: 100%;
    }
  }
  &.active {
    pointer-events: none;
    &::before {
      width: 100%;
    }
    .profile-article__tabs-link {
      font-weight: 500;
    }
  }
}

.profile-article__tabs-link {
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  color: #1e1e1e;
}

//end tabs

//begin btn
.profile-article__add-article {
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  height: 36px;
  margin-left: auto;
  padding: 0 35px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 18px !important;
  background-color: $highlight-v;
  background-image: $gradient;

  @include max(425) {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

//end btn

//begin article__title
.profile-article__title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  transition: color .5s;
  color: #1e1e1e;

  @include max(425) {
    font-size: 22px;
  }

  &:hover {
    color: $highlight-v;
  }
}

.profile-article__title-link {
  text-decoration: none;
  color: #1e1e1e;
  &:hover {
    color: $highlight-v;
  }
}

//end article__title

//begin edit-icons
.profile-article__edit-icons {
  display: flex;
  flex: none;
  margin: 0 0 0 auto;
  padding: 10px 0 0 0;
}

.profile-article__edit-icon {
  margin-left: 11px;
  padding: 0;
  list-style: none;
  cursor: pointer;
  svg {
    fill: #e4e4f2;
    transition: fill .5s;
    &:hover {
      fill: #99a1ba;
    }
  }
}

.profile-article__edit-icon--pen svg {
  width: 20px;
  height: 19px;
}

.profile-article__edit-icon--basket svg {
  width: 15px;
  height: 19px;
}

//end edit-icons

//begin profile-article__undertitle
.profile-article__undertitle {
  display: flex;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.profile-article__undertitle--date {
  @include max(600) {
    width: 100%;
    margin-bottom: 10px;
  }
  svg {
    fill: #99a1ba;
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
}

.profile-article__date {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  color: #1e1e1e;
}

.profile-article__undertitle-descr {
  font-size: 14px;
  padding-right: 5px;
  color: #99a1ba;
}

.profile-article__undertitle-text {
  font-size: 14px;
  text-decoration: none;
  color: #4d4ce0;
}

//end profile-article__undertitle

.profile-article__header-row--ava {
  margin-bottom: -10px;
  padding-top: 20px;
}

.profile-article__ava {
  display: flex;
  align-items: center;
}

.profile-article__ava-pic {
  overflow: hidden;
  flex: none;
  width: 36px;
  height: 36px;
  margin-right: 14px;
  border-radius: 50%;
}

.profile-article__ava-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #1e1e1e;
}

.profile-article__unsubscribe {
  position: absolute;
  top: 20px;
  right: 20px;
  &:hover {
    .profile-article__unsubscribe-list {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.profile-article__unsubscribe-arr {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-bottom: 1px solid #99a1ba;
  border-left: 1px solid #99a1ba;
}

.profile-article__unsubscribe-list {
  position: absolute;
  top: -1px;
  right: -2px;
  overflow: hidden;
  min-width: 230px;
  margin: 0;
  padding: 0;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.profile-article__unsubscribe-item {
  padding: 0;
  list-style: none;
  transition: .5s;
  border-bottom: 1px solid #e4e4f2;
  background-color: #fff;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    //  background-color: $highlight-v;
    .profile-article__unsubscribe-link {
      //    color: #fff;
      color: #99a1ba;
    }
  }
}

.profile-article__unsubscribe-link {
  font-size: 14px;
  font-weight: 300;
  display: block;
  padding: 10px 18px 9px 18px;
  transition: color .5s;
  text-decoration: none;
  color: #99a1ba;
}
