.profile-header {
  background-color: $brand;
  background-image: $gradient;
  .container {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;

    @include max(760) {
      flex-wrap: wrap;
      max-width: 570px;
    }
  }
}

//begin profile-header__search
.profile-header__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 570px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 18px;

  @include max(760) {
    margin-bottom: 15px;
  }
}

.profile-header__search-input {
  font-size: 14px;
  width: 100%;
  margin-right: 10px;
  margin-left: 15px;
  padding-left: 25px;
  color: #fff;
  border: none;
  background-color: transparent;
  box-shadow: none;

  @include placeholder-color(rgba(255, 255, 255, .4));
}

.profile-header__search-submit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 14px;
  height: 13px;
  margin: auto;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 13px;
    cursor: pointer;
    opacity: 0;
  }
  svg {
    fill: #fff;
    width: 14px;
    height: 13px;
    pointer-events: none;
  }
}

.profile-header__search-selectbox {
  position: relative;
  flex: none;
  width: 155px;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 14px;
    margin: auto;
    content: '';
    opacity: .4;
    background-color: #fff;
  }
  select {
    width: 100%;
    height: 36px;
    padding-left: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: transparent;

    appearance: none;
  }
  option:not(:first-of-type) {
    color: $text;
  }
  option[selected] {
    display: none !important;
  }
  svg {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    fill: #fff;
    width: 10px;
    height: 5px;
    margin: auto;
    pointer-events: none;
  }
}

//end profile-header__search

// begin profile-header__icons-list
.profile-header__icons-list {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  padding: 0;

  @include max(375) {
    margin: 10px auto 10px 0;
    padding-right: 10px;
  }
}

.profile-header__icons-item {
  flex: none;
  padding: 0;
  list-style: none;
  &:last-child {
    .profile-header__icons-link {
      margin-right: 0;
    }
  }
}

.profile-header__icons-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 25px;
  margin-left: 26px;
  text-decoration: none;
  color: #fff;

  @include max(760) {
    margin-right: 25px;
    margin-left: 0;
  }

  &:hover,
  &.active {
    svg {
      opacity: 1;
    }
  }
  svg {
    fill: #fff;
    transition: opacity .5s;
    opacity: .4;
  }
}

.profile-header__icons-link--message svg {
  width: 27px;
  height: 25px;
}

.profile-header__icons-link--hat svg {
  width: 35px;
  height: 22px;
}

.profile-header__icons-link--info svg {
  width: 24px;
  height: 24px;
}

.profile-header__icons-counter {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: -7px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: $highlight-r;
}

// begin profile-header__icons-list

//begin profile-header__user
.profile-header__user {
  display: flex;
  align-items: center;
  flex: none;
  margin-left: auto;

  @include max(375) {
    margin: 10px 0;
  }
}

.profile-header__user-ava {
  overflow: hidden;
  flex: none;
  width: 36px;
  height: 36px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #f0f0f5;
  background-image: url('../img/smile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 65%;
}

.profile-header__user-body {
  position: relative;
  padding-right: 24px;
}

.profile-header__user-name {
  font-family: $font;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

.profile-header__user-rait {
  font-family: $font;
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  span {
    font-size: 13px;
  }
}

.profile-header__user-arrow {
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
  svg {
    fill: #fff;
    width: 10px;
    height: 5px;
  }
}

.profile-header__enter {
  display: flex;
  width: 100%;
  .btn {
    min-width: 192px;
    margin-left: auto;
  }
}

//end profile-header__user
