.profile-header {
  background-color: $brand;
  background-image: $gradient;
  .container {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;

    @include max(760) {
      flex-wrap: wrap;
      max-width: 570px;
    }
  }
}

//begin profile-header__search
.profile-header__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 570px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 18px;

  @include max(760) {
    margin-bottom: 15px;
  }
}

.profile-header__search-input {
  font-size: 14px;
  width: 100%;
  margin-right: 10px;
  margin-left: 15px;
  padding-left: 25px;
  color: #fff;
  border: none;
  background-color: transparent;
  box-shadow: none;

  @include placeholder-color(rgba(255, 255, 255, .4));
}

.profile-header__search-submit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 14px;
  height: 13px;
  margin: auto;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 13px;
    cursor: pointer;
    opacity: 0;
  }
  svg {
    fill: #fff;
    width: 14px;
    height: 13px;
    pointer-events: none;
  }
}

.profile-header__search-selectbox {
  position: relative;
  flex: none;
  width: 155px;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 14px;
    margin: auto;
    content: '';
    opacity: .4;
    background-color: #fff;
  }
  select {
    width: 100%;
    height: 36px;
    padding-left: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: transparent;

    appearance: none;
  }
  option:not(:first-of-type) {
    color: $text;
  }
  option[selected] {
    display: none !important;
  }
  svg {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    fill: #fff;
    width: 10px;
    height: 5px;
    margin: auto;
    pointer-events: none;
  }
}

//end profile-header__search

// begin profile-header__icons-list
.profile-header__icons-list {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  padding: 0;

  @include max(375) {
    margin: 10px auto 10px 0;
    padding-right: 10px;
  }
}

.profile-header__icons-item {
  flex: none;
  padding: 0;
  list-style: none;

  &:last-child {
    .profile-header__icons-link {
      margin-right: 0;
    }
  }
  &:hover {
    .profile-header-popup-wrap {
      pointer-events: auto;
      opacity: 1;

      &::before {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}

.profile-header__icons-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 25px;
  margin-left: 26px;
  text-decoration: none;
  color: #fff;

  @include max(760) {
    margin-right: 25px;
    margin-left: 0;
  }

  &:hover,
  &.active {
    svg {
      opacity: 1;
    }
  }
  svg {
    fill: #fff;
    transition: opacity .5s;
    opacity: .4;
  }
}

.profile-header__icons-link--message svg {
  width: 27px;
  height: 25px;
}

.profile-header__icons-link--hat svg {
  width: 35px;
  height: 22px;
}

.profile-header__icons-link--info svg {
  width: 24px;
  height: 24px;
}

.profile-header__icons-counter {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: -7px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: $highlight-r;
}

// begin profile-header__icons-list

//begin profile-header__user
.profile-header__user {
  position: relative;
  display: flex;
  align-items: center;
  flex: none;
  margin-left: auto;

  @include max(375) {
    margin: 10px 0;
  }
}

.profile-header__user-ava {
  overflow: hidden;
  flex: none;
  width: 36px;
  height: 36px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #f0f0f5;
  background-image: url('../img/smile.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 65%;
}

.profile-header__user-body {
  position: relative;
  padding-right: 24px;
}

.profile-header__user-name {
  font-family: $font;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

.profile-header__user-rait {
  font-family: $font;
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  span {
    font-size: 13px;
  }
}

.profile-header__user-arrow {
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
  svg {
    fill: #fff;
    width: 10px;
    height: 5px;
  }
}

.profile-header__enter {
  display: flex;
  width: 100%;
  .btn {
    min-width: 192px;
    margin-left: auto;
  }
}

.profile-header__user-menu {
  position: absolute;
  z-index: 1;
  top: 49px;
  right: 0;
  display: none;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  @include max(375) {
    width: 100%;
  }
}

.profile-header__user-item {
  padding: 10px 20px 10px 14px;
  list-style: none;
  border-bottom: 1px solid #f0f0f5;
  background-color: #fff;
  &:last-child {
    border-bottom: none;
  }
  &.active {
    background-color: #f0f0f5;
    .profile-header__user-link {
      color: #4d4ce0;
    }
  }
}

.profile-header__user-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #1e1e1e;
  &:hover {
    color: #1e1e1e;
  }
}

//end profile-header__user

//begin profile-header-popups

.profile-header-popup-wrap {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  padding-top: 28px;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;

  @include max(1140) {
    right: -40px;
    left: auto;
  }

  @include max(760) {
    left: 0;
  }

  &::before {
    position: absolute;
    top: 22px;
    width: 12px;
    height: 6px;
    content: '';
    transition: opacity .5s;
    pointer-events: none;
    opacity: 0;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    //@include max(760) {
    //  right: auto;
    //  left: 8px;
    //}
  }
}

.profile-header__icons-link--message + .profile-header-popup-wrap::before {
  left: 30px;

  @include max(1140) {
    right: 160px;
    left: auto;
  }

  @include max(760) {
    left: 10px;
  }
}

.profile-header__icons-link--hat + .profile-header-popup-wrap::before {
  left: 90px;

  @include max(1140) {
    right: 100px;
    left: auto;
  }

  @include max(760) {
    left: 65px;
  }
}

.profile-header__icons-link--info + .profile-header-popup-wrap::before {
  left: 145px;

  @include max(1140) {
    right: 45px;
    left: auto;
  }

  @include max(760) {
    left: 120px;
  }
}

.profile-header-popup {
  overflow: hidden;
  width: 500px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);

  @include max(540) {
    width: 400px;
  }

  @include max(425) {
    width: 300px;
  }
}

.profile-header-popup__header {
  padding: 10px 20px;
  span {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #4d4ce0;
  }
}

.profile-header-popup__header--old {
  background-color: #f0f0f5;
  span {
    color: #99a1ba;
  }
}

.profile-header-popup__item {
  position: relative;
  display: flex;
  padding: 15px 25px 10px 20px;
  transition: .5s;
  border-top: 1px solid #f0f0f5;
  background-color: #fff;

  @include max(425) {
    padding: 15px 15px 10px 15px;
  }

  &:hover {
    border-top: 1px solid #eeeefe;
    background-color: #eeeefe;
    .profile-header-popup__close {
      pointer-events: auto;
      opacity: 1;
    }
  }
  .btn {
    min-width: 120px;
    margin-right: 10px;
    margin-bottom: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.profile-header-popup__item--old {
  border-top: 1px solid #fff;
  background-color: #f0f0f5;
}

.profile-header-popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 9px;
  height: 9px;
  cursor: pointer;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;
  svg {
    fill: #99a1ba;
    width: 9px;
    height: 9px;
  }
}

.profile-header-popup__ava {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #40ceb0;

  @include max(425) {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  svg {
    fill: #fff;
    width: 36px;
    height: 33px;
  }
  img {
    display: block;
    width: 100%;
  }
  span {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: #fff;

    @include max(425) {
      font-size: 28px;
      padding-top: 2px;
    }
  }
}

.profile-header-popup__item--counter {
  .profile-header-popup__ava {
    background-color: #fc4c3b;
  }
}

.profile-header-popup__text {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 13px;
  color: #1e1e1e;
}

.profile-header-popup__footer {
  padding: 10px 20px;
  text-align: center;
  background-color: #e1e1e8;
  a {
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    color: #4d4ce0;
  }
}

//end profile-header-popups
