.profile-article {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #fff;
}

//begin profile-article__body
.profile-article__body {
  padding-top: 3px;
}

.profile-article__body-text {
  padding-bottom: 7px;
  p {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 5px;
    color: #1e1e1e;
  }
}

.profile-article__body-img {
  display: block;
  margin-top: 18px;
  img {
    display: block;
    width: 100%;
  }
}

.profile-article__body-more {
  font-size: 12px;
  text-decoration: none;
  color: #4d4ce0;
}

.profile-article__add-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 30px);
  min-height: 300px;
  padding: 20px 0;
  text-align: center;
  .btn {
    min-width: 185px;
    margin: 10px 0 0 0;
  }
}

.profile-article__add-articles-title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  color: #1e1e1e;
}

.profile-article-empty {
  height: calc(100% - 120px);
}

//end profile-article__body

.profile-article__body-footer {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;

  @include max(600) {
    flex-wrap: wrap;
  }
}

//begin tags
.profile-article__tags-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
  padding: 0;
}

.profile-article__tags-item {
  padding: 0 15px 0 0;
  list-style: none;

  &.hidden {
    display: none;
  }
}

.profile-article__tags-item--arrow {
  position: relative;
  display: flex !important;
  align-items: flex-end;
  width: 20px;
  padding-right: 0;
  cursor: pointer;
  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: #99a1ba;
    width: 10px;
    height: 5px;
    margin: 5px 0;
    transition: transform .5s;

    will-change: transform;
  }
}

.profile-article__tags-link {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  color: #99a1ba;
}

//end tags

//begin profile-article__icons
.profile-article__icons {
  display: flex;
  flex: none;
  margin-left: auto;

  @include max(600) {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

.profile-article__icons-icon {
  display: flex;
  margin-left: 20px;

  @include max(600) {
    margin-right: 20px;
    margin-left: 0;
  }
}

.profile-article__icon-heart {
  width: 26px;
  height: 22px;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
  &.active {
    .svg-heart {
      fill: $highlight-r;
    }
  }
}

.profile-article__icon-message {
  svg {
    width: 24px;
    height: 24px;
  }
}

.profile-article__icon-star {
  svg {
    width: 26px;
    height: 24px;
  }
  &.active {
    .svg-star {
      fill: $highlight-v;
    }
  }
}

.profile-article__icons-count {
  font-size: 16px;
  margin-left: 9px;
  padding-top: 2px;
  color: #74767b;
}

//end profile-article__icons
