//begin about-teacher
.about-teacher
  .container
    //begin about-teacher__education-list
    ul.about-teacher__education-list
      li.about-teacher__education-item
        |Закончил Государственный университет
        br
        |по специальности Менеджмент.
      li.about-teacher__education-item
        |Учредитель нескольких успешных бизнесов.
        br
        |Коммерческий директор академии MasterVision.
      li.about-teacher__education-item
        |Консультировал персонал банка
        =' '
        strong «Росбанк»
        br
        strong группы SOCIETE GENERALE,
        br
        strong рестораны «Садык»,
        br
        strong группу компаний «МоРо»,
        br
        strong винный дом «Каудаль».
      li.about-teacher__education-item
        |Запустил
        =' '
        strong более 100
        =' '
        |успешных тренингов
        br
        |со средним чеком
        =' '
        |более 25000 рублей.
        br
        |Среднее количество учеников на каждом тренинге более
        =' '
        strong 150 человек.
    //end about-teacher__education-list

    .about-teacher__people
      img(src="assets/img/teacher.png" alt="teacher")

    //begin about-teacher__info
    .about-teacher__info
      h2.about-teacher__name Андрей Грудин
      .about-teacher__position Генеральный директор Эволюционики
      .about-teacher__blockquote
        | Мое кредо - видеть хорошее в каждом дне!
        br
        | Мое кредо - видеть хорошее в каждом дне!
        br
        | Все будет круто!
      .about-teacher__list-title Ключевые компетенции
      ul.about-teacher__list
        li.about-teacher__list-item Бизнес консультант
        li.about-teacher__list-item Консалтер
        li.about-teacher__list-item Маркетолог
        li.about-teacher__list-item Специалист в области On-line продаж
      .about-teacher__contacts-title Контакты
      a(href="skype:gagarin581013").about-teacher__contacts-link.about-teacher__contacts-link--skype
        +svg('skype')
        span gagarin581013
      a(href="mailto:info@mastervision.su").about-teacher__contacts-link.about-teacher__contacts-link--mail
        +svg('mail')
        span info@mastervision.su
    //end about-teacher__info
//end about-teacher