//begin about-mission
.about-mission
  .container
    //begin about-mission__left
    .about-mission__left
      h3.about-mission__title Наша миссия
      .about-mission__descr
        | Расширение кругозора людей в области здоровья, психологии,  психотерапии, психосоматики.
        br
        strong В идеале, мы хотим создать сообщество людей осознанных, способных помогать себе и другим в трудных психологических ситуациях
    //end about-mission__left

    //begin about-mission__right
    .about-mission__right
      .about-mission__item
        .about-mission__item-svg.about-mission__item-svg--hat
          +svg('hat-2')
        .about-mission__item-descr
          strong Получение знаний, повышение квалификации, освоение смежных профессий.
          =' '
          |Поддерживаем ваше стремление к развитию и личностному росту. Создаем для этого лучшие условия: кураторы для каждого студента, проверка домашних заданий, консультации с преподавателями.
      .about-mission__item
        .about-mission__item-svg.about-mission__item-svg--peoples
          +svg('peoples')
        .about-mission__item-descr
          strong Обретение друзей и единомышленников.
          =' '
          |Каждому важно знать, что его взгляды, интересы и ценности разделяют. А его самого понимают и принимают таким, какой он есть.
      .about-mission__item
        .about-mission__item-svg.about-mission__item-svg--pazzl
          +svg('pazzl')
        .about-mission__item-descr
          strong Развлечения, игры.
          =' '
          |Мы не зануды, которые только и талдычат:  «Ученье – свет!...» Мы за интересный контент, не только развивающий, но и развлекательный. Устали? Отдохните, отвлекитесь. Отдых необходим для продуктивной деятельности :)
    //end about-mission__right
//end about-mission