//begin courses-over-top
.courses-over-top
  .container
    //begin breadcrumbs
    .breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a.breadcrumbs__link(href="#") Главная
        li.breadcrumbs__item
          a.breadcrumbs__link(href="#") Курс Master Vision
    //end breadcrumbs

    .courses-over-top__row
      h2.courses-over-top__title Курсы MasterVision
      .courses-over-top__label
        .courses-over-top__label-svg
          +svg('uah')
        span.courses-over-top__label-text Вы можете приобрести 2 курса в рамках подписки

//end courses-over-top