//begin course-schedule
.course-schedule
  .container
    h3.profile-teacher__section-title Расписание занятий
    //begin course-schedule__slider
    ul.course-schedule__slider
      li.course-schedule__slide
        span Видеолекция о Психологии
      li.course-schedule__slide
        span Домашнее задание по курсу Психология к видеолекции по Психологии
      li.course-schedule__slide
        span Видеолекция о Психологии
      li.course-schedule__slide
        span Домашнее задание по курсу Психология к видеолекции по Психологии
      li.course-schedule__slide
        span Видеолекция о Психологии
      li.course-schedule__slide
        span Домашнее задание по курсу Психология к видеолекции по Психологии
      li.course-schedule__slide
        span Видеолекция о Психологии
      li.course-schedule__slide
        span Домашнее задание по курсу Психология к видеолекции по Психологии
      li.course-schedule__slide
        span Последний слайд
    //end course-schedule__slider
//end   course-schedule