//begin footer
footer.footer
    .container.footer-top
      .footer-top__item

    .container.footer-bottom
      .footer-bottom__copyright
        span.footer-bottom__copyright-text Все права защищены. Mastervision © 2019
      .footer-bottom__offer
        a(href="#").footer-bottom__offer-link Договор Оферты
      .footer-bottom__privacy
        a(href="#").footer-bottom__privacy-link Политика конфиденциальности

//end footer