//begin profile-articles
.profile-articles
  include articles/profile-article-08
  include articles/profile-article-08
  include articles/profile-article-08

  a(href="#").profile-teacher__courses-all
    span Посмотреть все
    .svg
      +svg('arr-down')
//end profile-articles
