//begin index-top
.index-top
  .container
    //begin index-top__info
    .index-top__info
      h2.index-top__title Эволюционика
      h3.index-top__subtitle Обучение психологическим практикам
      .index-top__text
        p Мы объединяем людей на пути к саморазвитию, самопознанию, улучшению качества жизни через знания в науках о душе и теле: психологии, психотерапии, психосоматике.
        p В Академии будет интересно и полезно всем: кто хочет изменить свою жизнь к лучшему,  профессионалам и гуру наук.
    //end index-top__info

    //begin index-top__video
    .index-top__video
      iframe(src="https://www.youtube.com/embed/SMGed5jB0p8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    //end index-top__video
//end index-top