//begin index-blogs
.index-blogs
  .container
    h2.index-blogs__title Топ блогов

  .profile-main
    .container
      include ../sections/index-aside
      include ../sections/index-articles-blog
//end index-blogs