//begin index-direction
.index-direction
  .container
    .index-direction__left
      h2.index-direction__title Основные направления
      //begin index-direction__slider

      .index-direction__counter
        span#counter-tab.index-direction__counter-tab 01
        span.index-direction__slider-counter-divide /
        span#counter-all.index-direction__counter-all

      .index-direction__slider#index-direction__slider
        .index-direction__slide
          p Устранение трудностей в общении, улучшение взаимоотношений на работе, с друзьями и незнакомыми людьми, выступления на публике.
        .index-direction__slide
          p 2 Устранение трудностей в общении публики.
        .index-direction__slide
          p Устранение трудностей в общении, улучшение взаимоотношений на работе, с друзьями и незнакомыми людьми, выступления на публике.
        .index-direction__slide
          p 2 Устранение трудностей в общении публики.
        .index-direction__slide
          p Устранение трудностей в общении, улучшение взаимоотношений на работе, с друзьями и незнакомыми людьми, выступления на публике.
        .index-direction__slide
          p 2 Устранение трудностей в общении публики.
        .index-direction__slide
          p Устранение трудностей в общении, улучшение взаимоотношений на работе, с друзьями и незнакомыми людьми, выступления на публике.
        .index-direction__slide
          p 2 Устранение трудностей в общении публики.
        .index-direction__slide
          p Устранение трудностей в общении, улучшение взаимоотношений на работе, с друзьями и незнакомыми людьми, выступления на публике.

      //end index-direction__slider
    .index-direction__img(style='background-image:url("assets/img/index-direction.jpg")')

//end index-direction