//begin courses-over-top
.courses-over-top.my-courses-over-top
  .container
    //begin breadcrumbs
    .breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a.breadcrumbs__link(href="#") Главная
        li.breadcrumbs__item
          a.breadcrumbs__link(href="#") Мои курсы
    //end breadcrumbs

    .courses-over-top__row
      h2.courses-over-top__title Мои курсы
//end courses-over-top