//begin my-course-body-tabs
.my-course-body-tabs
  .my-course-body-tabs__btns
    span.my-course-body-tabs__btn.active(data-tab='01') Занятие
    span.my-course-body-tabs__btn(data-tab='02') Материалы занятия

  .my-course-body-tabs__body
    //begin my-course-body-tabs__tab-01
    .my-course-body-tabs__tab.my-course-body-tabs__tab-01.active
      h2.my-course-body-tabs__tab-title Домашнее задание номер 1
      p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 1. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        .my-course-homework__item-radiolist
          label.my-course-homework__item-radio.active
            input(type='radio' name='homework' checked)
            span Показывать мои курсы другим пользователям
          label.my-course-homework__item-radio
            input(type='radio' name='homework')
            span Показывать мои курсы
          label.my-course-homework__item-radio
            input(type='radio' name='homework')
            span Показывать мои курсы другим пользователям
      //end my-course-homework__item

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 2. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        .my-course-homework__item-checkboxlist
          label.my-course-homework__item-checkbox.active
            input(type='checkbox' checked)
            span Показывать мои курсы другим пользователям
          label.my-course-homework__item-checkbox
            input(type='checkbox')
            span Показывать мои курсы
          label.my-course-homework__item-checkbox
            input(type='checkbox')
            span Показывать мои курсы другим пользователям
      //end my-course-homework__item

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 3. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        ul.my-course-homework__item-druglist
          li.my-course-homework__item-drug
            span.my-course-homework__item-drug-numb 1
            span.my-course-homework__item-drug-text Показывать мои курсы другим пользователям
          li.my-course-homework__item-drug
            span.my-course-homework__item-drug-numb 2
            span.my-course-homework__item-drug-text Показывать мои курсы
          li.my-course-homework__item-drug
            span.my-course-homework__item-drug-numb 3
            span.my-course-homework__item-drug-text Показывать мои курсы другим пользователям
      //end my-course-homework__item

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 4. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        .my-course-homework__item-add-texts
          span Включает в себя фуднаментальную
          input(type='text')
          span , механизмы и законы психической
          input(type='text')
          span деятельности, прикладную психологию, изучающую, с опорой на данные данные фундаментальной психологии
          input(type='text')
      //end my-course-homework__item

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 5. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        .my-course-homework__item-2-lists
          ul.my-course-homework__item-lists-questions
            li.my-course-homework__item-lists-question
              span Показывать мои курсы другим пользователям
            li.my-course-homework__item-lists-question
              span Показывать мои курсы
            li.my-course-homework__item-lists-question
              span Показывать мои курсы другим пользователям

          ul.my-course-homework__item-lists-answers
            li.my-course-homework__item-lists-answer
              span Показывать мои курсы другим пользователям
            li.my-course-homework__item-lists-answer
              span Показывать мои курсы
            li.my-course-homework__item-lists-answer
              span Показывать мои курсы другим пользователям
      //end my-course-homework__item

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 6. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        .my-course-homework__item-3-pic
          a(href="#").my-course-homework__item-pic
            img(src="assets/img/homework-01.jpg" alt="picture")
          a(href="#").my-course-homework__item-pic
            img(src="assets/img/homework-02.jpg" alt="picture")
          a(href="#").my-course-homework__item-pic
            img(src="assets/img/homework-03.jpg" alt="picture")
      //end my-course-homework__item

      //begin my-course-homework__item
      .my-course-homework__item
        h3.my-course-homework__item-title 6. Текст заголовок вопроса
        p Включает в себя фуднаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии?
        textarea.my-course-homework__item-textarea(placeholder='Задайте свой вопрос')
        .my-course-homework__item-downloads
          input(type='file')
          .download-files
          .my-course-homework__item-download-btn
            +svg('addfile')
            span Прикрепить файл
      //end my-course-homework__item

      .my-course-homework__agree
        .my-course-homework__agree-text
          span
            | После нажатия на кнопку ответ будет отправлен на проверку,
            br
            | внесение изменений в ответы станут недоступны
          .my-course-homework__agree-icon
            +svg('plane')
        .my-course-homework__agree-right
          span.my-course-homework__agree-try Осталось 3 попытки
          button.btn.btn--dark Отправить на проверку


      h2.my-course-body-tabs__tab-title Диалог с Куратором
      include comments/profile-article-comment-8
      include comments/profile-article-comment-9
      include articles/profile-article-footer-crop
    //end my-course-body-tabs__tab-01

    //begin my-course-body-tabs__tab-02
    .my-course-body-tabs__tab.my-course-body-tabs__tab-02
      h2.my-course-body-tabs__tab-title Лекция по Психологии
      span.my-course-body-tabs__tab-subtitle Материалы занятия
      //begin my-course-body-tabs__materials
      .my-course-body-tabs__materials
        a(href="#").my-course-body-tabs__materials-link.my-course-body-tabs__materials-link--pdf Презентация к курсу Психология.pdf
        a(href="#").my-course-body-tabs__materials-link.my-course-body-tabs__materials-link--excel Таблица к курсу.xls
        a(href="#").my-course-body-tabs__materials-link.my-course-body-tabs__materials-link--word Документ к курсу Психология.doc
        a(href="#").my-course-body-tabs__materials-link.my-course-body-tabs__materials-link--img Картинка к курсу.jpg
        a(href="#").my-course-body-tabs__materials-link.my-course-body-tabs__materials-link--video Ссылка на видео (Youtube)
      //end my-course-body-tabs__materials

      h2.my-course-body-tabs__tab-title Диалог с Куратором
      include comments/profile-article-comment-8
      include comments/profile-article-comment-9
      include articles/profile-article-footer-crop

    //end my-course-body-tabs__tab-02
//end my-course-body-tabs
