//begin profile-header
.profile-header
  .container
    //begin profile-header__enter
    section.profile-header__enter
      button.btn.btn--light Войти
    //end   profile-header__enter

//end   profile-header