//begin profile-counters
.profile-counters
  .container
    ul.profile-counters__list
      li.profile-counter
        span.profile-counter__numb 0
        span.profile-counter__text друзей
      li.profile-counter
        span.profile-counter__numb 0
        span.profile-counter__text записей
      li.profile-counter
        span.profile-counter__numb 1
        span.profile-counter__text достижение
      li.profile-counter
        span.profile-counter__numb 1
        span.profile-counter__text день на сайте
//end profile-counters
