//begin profile-articles
.profile-articles
  include profile-all-info
  include profile-counters
  include articles/profile-article-05
  include articles/profile-article-06
  include articles/profile-article-07

  include ../elements/pagination
//end profile-articles
