//begin profile-blog-filter
.profile-blog-filter
  //.container
  .profile-blog-filter__title Сортировать:

  //begin profile-blog-filter__selected
  select.profile-blog-filter__select
    option(value='Выберите направление') Выберите направление
    option(value='Направление 1') Направление 1
    option(value='Направление 2') Направление 2
    option(value='Направление 3') Направление 3
  select.profile-blog-filter__select
    option(value='По популярности') По популярности
    option(value='По названию') По названию
    option(value='По цене') По цене
  //end profile-blog-filter__selected
//end profile-blog-filter

