//begin profile-article__footer
footer.profile-article__footer
  form.profile-article__form
    .profile-article__form-input-wrap
      input(placeholder='Написать комментарий').profile-article__form-input
      .profile-article__form-smile
        +svg('smile')
      .profile-article__form-submit-wrap
        input(type='submit').profile-article__form-submit
        +svg('arr-down')
    ul.profile-article__form-decor-list
      li.profile-article__form-decor-item.decor-01
        +svg('decor-01')
      li.profile-article__form-decor-item.decor-02
        +svg('decor-02')
      li.profile-article__form-decor-item.decor-03.double
        +svg('decor-03')
      //-li.profile-article__form-decor-item.decor-04
        +svg('decor-04')
      //-li.profile-article__form-decor-item.decor-05
        +svg('decor-05')
      //-li.profile-article__form-decor-item.decor-06
        +svg('decor-06')
      //-li.profile-article__form-decor-item.decor-07.double
        +svg('decor-07')
      li.profile-article__form-decor-item.decor-08
        +svg('decor-08')
        .profile-article__form-decor-arrow
          +svg('arr-down')
      li.profile-article__form-decor-item.decor-09
        +svg('decor-09')
        .profile-article__form-decor-arrow
          +svg('arr-down')
      //-li.profile-article__form-decor-item.decor-10
        +svg('decor-10')
      //-li.profile-article__form-decor-item.decor-11.double
        +svg('decor-11')
      li.profile-article__form-decor-item.decor-12
        +svg('decor-12')
        .profile-article__form-decor-arrow
          +svg('arr-down')
      //-li.profile-article__form-decor-item.decor-13
        +svg('decor-13')
        .profile-article__form-decor-arrow
          +svg('arr-down')
//end profile-article__footer
