//begin profile-article__comment-4
.profile-article__comment.profile-article__comment-4
  header.profile-article__comment-header
    .profile-article__comment-ava
      img(src="assets/img/aside-friends/friend-02.jpg" alt="ava")
    h3.profile-article__comment-name Ирина Владимировна
  .profile-article__comment-body
    p Включает в себя фундаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии, психические явления в естественных условиях.
  footer.profile-article__comment-footer
    span.profile-article__comment-date 18.06.2019
    span.profile-article__comment-answer Ответить
    span.profile-article__comment-complaint Пожаловаться

    //begin icon
    .profile-article__icons-icon
      .profile-article__icon-heart.active
        svg(viewBox='-2 -2 30 24')
          path.svg-heart(fill='transparent', stroke='#fc4c3b', stroke-width='2', d='M26 6.858C26 3.07 22.856 0 18.979 0a7.045 7.045 0 0 0-5.98 3.277A7.046' +
          ' 7.046 0 0 0 7.02 0C3.143 0 0 3.07 0 6.858c0 2.062.935 3.907 2.41 5.164l9.95' +
          ' 9.719c.17.166.4.259.64.259s.47-.093.64-.26l9.95-9.718C25.064 10.765 26 8.92 26 6.858z')
      span.profile-article__icons-count 6
    //end icon
//begin profile-article__comment-4
