//begin profile-article-01
.profile-article.profile-article-01
  header.profile-article__header
    //begin header-row-main
    .profile-article__header-row.profile-article__header-row--main
      ul.profile-article__tabs-list
        li.profile-article__tabs-item.active
          a(href="#").profile-article__tabs-link Мой блог
        li.profile-article__tabs-item
          a(href="#").profile-article__tabs-link Черновики
        li.profile-article__tabs-item
          a(href="#").profile-article__tabs-link Избранное
      button.profile-article__add-article Добавить запись
    //end header-row-main

    //begin header-row-title
    .profile-article__header-row.profile-article__header-row--title
      h2.profile-article__title
        a(href="#").profile-article__title-link Статья на тему психологии
      ul.profile-article__edit-icons
        li.profile-article__edit-icon.profile-article__edit-icon--pen
          +svg('pen')
        li.profile-article__edit-icon.profile-article__edit-icon--basket
          +svg('basket')
    //end header-row-title

    //begin header-row-undertitle
    .profile-article__header-row.profile-article__header-row--undertitle
      .profile-article__undertitle.profile-article__undertitle--date
        +svg('calendar')
        .profile-article__date 18.06.2019
      .profile-article__undertitle
        .profile-article__undertitle-descr Направление:
        a(href="#").profile-article__undertitle-text Психология
      .profile-article__undertitle
        .profile-article__undertitle-descr Автор:
        a(href="#").profile-article__undertitle-text Мария Иванова
    //end header-row-undertitle

  .profile-article__body
    .profile-article__body-text
      p Включает в себя фундаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии, психические явления в естественных условиях, и практическую психологию, занимающуюся применением психологических знаний на практике.
    a(href="#").profile-article__body-more Полный текст
    .profile-article__body-footer
      .profile-article__tags
        - var x = 3;
        - var h = 17;
        ul.profile-article__tags-list
          - for (var i=1; i<=x; i++) {
          li.profile-article__tags-item
            a(href="#").profile-article__tags-link #психология
          - }
          - for (var i=1; i<=h; i++) {
          li.profile-article__tags-item.hidden
            a(href="#").profile-article__tags-link #психология
          - }
          li.profile-article__tags-item.profile-article__tags-item--arrow
            +svg('arr-down')

      //begin profile-article__icons
      .profile-article__icons
        //begin profile-article__icon
        .profile-article__icons-icon
          .profile-article__icon-heart.active
            svg(viewBox='-2 -2 30 24')
              path.svg-heart(fill='transparent', stroke='#fc4c3b', stroke-width='1', d='M26 6.858C26 3.07 22.856 0 18.979 0a7.045 7.045 0 0 0-5.98 3.277A7.046' +
              ' 7.046 0 0 0 7.02 0C3.143 0 0 3.07 0 6.858c0 2.062.935 3.907 2.41 5.164l9.95' +
              ' 9.719c.17.166.4.259.64.259s.47-.093.64-.26l9.95-9.718C25.064 10.765 26 8.92 26 6.858z')
        span.profile-article__icons-count 56
        //end profile-article__icon

        //begin profile-article__icon
        .profile-article__icons-icon
          .profile-article__icon-message
            svg(viewBox='-1 -1 28 28')
              clippath#fy0ea
              path(fill='none', stroke='#4d4ce0', stroke-width='1', d='M11.992 0c6.623 0 11.992 4.658 11.992 10.405 0 5.746-5.369 10.405-11.992 ' +
              '10.405-.636 0-1.26-.044-1.87-.127C7.546 23.434 4.572 23.927 1.6 24v-.673c1.605-.84 2.898-2.37 ' +
              '2.898-4.118 0-.244-.018-.484-.05-.718C1.733 16.584 0 13.67 0 10.405 0 4.658 5.369 0 11.992 0z')
        span.profile-article__icons-count 2
        //end profile-article__icon
      //end profile-article__icons






  footer.profile-article__footer
//end profile-article-01
