//begin why-we
.why-we
  .container
    .why-we__info
      h2.why-we__title Почему важно учиться именно у нас?
      h3.why-we__subtitle Здесь вы найдете:
      .why-we__item
        .why-we__item-svg
          +svg('why-we-01')
        span
          strong Что почитать:
          =' '
          |статьи профессионалов и экспертов с огромным опытом и международными званиями
      .why-we__item
        .why-we__item-svg
          +svg('why-we-02')
        span
          strong С кем пообщаться, проконсультироваться, обменяться опытом:
          =' '
          | чат с единомышленниками, коллегами, специалистами
      .why-we__item
        .why-we__item-svg
          +svg('why-we-03')
        span
          strong Чему поучиться:
          =' '
          |тематические мастер-классы, тренинги, вебинары, курсы и фестивали
//end why-we