//begin header__menu
nav.header__menu#header__menu
  ul.header__menu-list
    li.header__menu-item
      a(href="#").header__menu-link Обучение
    li.header__menu-item
      a(href="#").header__menu-link Преподаватели
    li.header__menu-item
      a(href="#").header__menu-link Блоги
    li.header__menu-item
      a(href="#").header__menu-link О компании
    li.header__menu-item
      a(href="#").header__menu-link Контакты
//end header__menu