//begin header__menu
nav.header__menu#header__menu
  ul.header__menu-list
    li.header__menu-item
      a(href="#popup-enter").header__menu-link.popup-open Обучение
    li.header__menu-item
      a(href="#popup-discussion").header__menu-link.popup-open Преподаватели
    li.header__menu-item
      a(href="#popup-add-users").header__menu-link.popup-open Блоги
    li.header__menu-item
      a(href="#").header__menu-link.popup-open О компании
    li.header__menu-item
      a(href="#").header__menu-link.popup-open Контакты
//end header__menu