//begin profile-aside__friends
.profile-aside__friends.aside-item
  header.aside-item__header
    h3.aside-item__title
      |Друзья
      =" "
      a(href="#").aside-item__title-count 0
  span.profile-aside__friends-none-text У Вас еще нет друзей,
  span.profile-aside__friends-none-text добавьте других пользователей
  a(href="#").profile-aside__friends-add-btn.btn.btn--dark Найти друзей
//end profile-aside__friends
