mixin profile-aside__friends-item(pic)
  li.profile-aside__friends-item

//begin profile-aside__friends
//.profile-aside__friends.aside-item
  ul.profile-aside__friends-list
    +profile-aside__friends-item('01')
//end profile-aside__friends
