mixin profile-aside__menu-item(svg, text)
  //begin profile-aside__menu-item
  li.profile-aside__menu-item
    a(href="#").profile-aside__menu-link
      div(class='profile-aside__menu-svg profile-aside__menu-svg--' + svg +'')
        svg
          use(xlink:href="assets/img/sprite.svg#" + svg + "")
      span.profile-aside__menu-text #{text}
  //end profile-aside__menu-item

//begin profile-aside__menu
nav.profile-aside__menu.aside-item
  ul.profile-aside__menu-list
    +profile-aside__menu-item('friend', 'Добавить в друзья')
    +profile-aside__menu-item('messages', 'Написать сообщение')
    +profile-aside__menu-item('hat', 'Курсы пользователя')
    +profile-aside__menu-item('rss', 'Подписаться на блог')
//end profile-aside__menu
