//begin red-star
svg(viewBox='0 0 32 31')
  style(type='text/css').
    .st3{fill:#FC4C3B;}
    .st4{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:50;}
  path.st3(d='M30.3,14.1c0.6-0.6,0.8-1.4,0.5-2.2c-0.2-0.8-0.9-1.4-1.7-1.5l-7.3-1.1c-0.3,0-0.6-0.2-0.7-0.5l-3.2-6.6\
  C17.6,1.5,16.8,1,16,1c-0.8,0-1.6,0.5-1.9,1.2l-3.2,6.6c-0.1,0.3-0.4,0.5-0.7,0.5l-7.3,1.1c-0.8,0.1-1.5,0.7-1.7,1.5\
  c-0.3,0.8,0,1.6,0.5,2.2l5.3,5.2c0.2,0.2,0.3,0.5,0.3,0.8l-1.2,7.3c-0.2,1.2,0.6,2.3,1.8,2.5c0.5,0.1,0.9,0,1.4-0.2l6.5-3.4\
  c0.3-0.1,0.6-0.1,0.9,0l6.5,3.4c0.3,0.2,0.7,0.3,1,0.3c0.6,0,1.2-0.3,1.6-0.8c0.4-0.5,0.6-1.1,0.5-1.8l-1.2-7.3\
  c-0.1-0.3,0-0.6,0.3-0.8L30.3,14.1z')
  g
    defs
      path#SVGID_1_(d='M30.3,14.1c0.6-0.6,0.8-1.4,0.5-2.2c-0.2-0.8-0.9-1.4-1.7-1.5l-7.3-1.1c-0.3,0-0.6-0.2-0.7-0.5l-3.2-6.6\
      C17.6,1.5,16.8,1,16,1c-0.8,0-1.6,0.5-1.9,1.2l-3.2,6.6c-0.1,0.3-0.4,0.5-0.7,0.5l-7.3,1.1c-0.8,0.1-1.5,0.7-1.7,1.5\
      c-0.3,0.8,0,1.6,0.5,2.2l5.3,5.2c0.2,0.2,0.3,0.5,0.3,0.8l-1.2,7.3c-0.2,1.2,0.6,2.3,1.8,2.5c0.5,0.1,0.9,0,1.4-0.2l6.5-3.4\
      c0.3-0.1,0.6-0.1,0.9,0l6.5,3.4c0.3,0.2,0.7,0.3,1,0.3c0.6,0,1.2-0.3,1.6-0.8c0.4-0.5,0.6-1.1,0.5-1.8l-1.2-7.3\
      c-0.1-0.3,0-0.6,0.3-0.8L30.3,14.1z')
    clippath#SVGID_2_
      use(xlink:href='#SVGID_1_', style='overflow:visible;')
  path.st4(d='M30.3,14.1c0.6-0.6,0.8-1.4,0.5-2.2c-0.2-0.8-0.9-1.4-1.7-1.5l-7.3-1.1c-0.3,0-0.6-0.2-0.7-0.5l-3.2-6.6\
  C17.6,1.5,16.8,1,16,1c-0.8,0-1.6,0.5-1.9,1.2l-3.2,6.6c-0.1,0.3-0.4,0.5-0.7,0.5l-7.3,1.1c-0.8,0.1-1.5,0.7-1.7,1.5\
  c-0.3,0.8,0,1.6,0.5,2.2l5.3,5.2c0.2,0.2,0.3,0.5,0.3,0.8l-1.2,7.3c-0.2,1.2,0.6,2.3,1.8,2.5c0.5,0.1,0.9,0,1.4-0.2l6.5-3.4\
  c0.3-0.1,0.6-0.1,0.9,0l6.5,3.4c0.3,0.2,0.7,0.3,1,0.3c0.6,0,1.2-0.3,1.6-0.8c0.4-0.5,0.6-1.1,0.5-1.8l-1.2-7.3\
  c-0.1-0.3,0-0.6,0.3-0.8L30.3,14.1z')
//end red-star
