*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 15px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  strong {
    font-weight: 700;
  }
}

a {
  transition: color .5s;
  color: $highlight-r;
  &:hover {
    text-decoration: none;
    color: $highlight-r;
  }
}

ol,
ul {
  li {
    padding: 3px 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

// подсвечиваем картинки без alt
// и без заполненного alt
img[alt=''],
img:not([alt]) {
  outline: 5px solid tomato;
}

// исключение для google-map и fancybox
.fancybox-container img[alt=''],
.fancybox-container img:not([alt]),
.gm-style img[alt=''],
.gm-style img:not([alt]) {
  outline: none !important;
}

// тревога, если первый child внутри списка не li и прочие похожие примеры
ul > *:not(li),
ol > *:not(li) {
  outline: 5px solid tomato;
}

//изменяем цвет выделения текста мышью
::selection {
  // background-color: $brand;
  // color: $brand;
  // text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
  background-color: #f0f0f5;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 55px;

  @include max(1024) {
    padding: 0 30px;
  }

  @include max(768) {
    padding: 0 20px;
  }

  @include max(425) {
    padding: 0 10px;
  }
}

.btn {
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  display: inline-block;
  max-width: 100%;
  height: 36px;
  padding: 0 20px;
  cursor: pointer;
  transition: all .5s;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #4d4ce0;
  border: 1px solid $highlight-v;
  border-radius: 18px !important;
  box-shadow: none;
}

.btn--light {
  color: $highlight-v;
  background-color: transparent;
  &:hover {
    color: $light;
    background-color: $highlight-v;
  }
}

.btn--dark {
  color: $light;
  background-color: $highlight-v;
  &:hover {
    color: $highlight-v;
    background-color: transparent;
  }
}

.btn--grey {
  color: $light;
  border: 1px solid #99a1ba;
  background-color: #99a1ba;
  &:hover {
    color: $highlight-v;
    border: 1px solid $highlight-v;
    background-color: transparent;
  }
}

.btn--white {
  color: #1e1e1e;
  border: 1px solid #fff;
  background-color: #fff;
  &:hover {
    color: $light;
    border: 1px solid $highlight-v;
    background-color: $highlight-v;
  }
}

.btn--enter {
  color: #1e1e1e;
  border: 1px solid #fff;
  background-color: #fff;
  &:hover {
    color: $light;
    border: 1px solid $light;
    background-color: transparent;
  }
}

.checkbox {
  label {
    position: relative;
    padding-left: 27px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      content: '';
      border: 4px solid #f0f0f5;
      background-color: #f0f0f5;
    }
  }
  &.active {
    label::before {
      background-image: url('../img/check.svg');
    }
  }
  input {
    position: absolute;
    opacity: 0;
  }
  span {
    font-size: 14px;
    font-weight: 300;
    color: #1e1e1e;
  }
}
