//begin profile-article-empty
.profile-article.profile-article-empty
  //begin profile-article__header
  header.profile-article__header
    //begin header-row-main
    .profile-article__header-row.profile-article__header-row--main
      ul.profile-article__tabs-list
        li.profile-article__tabs-item.active
          a(href="#").profile-article__tabs-link Мой блог
        li.profile-article__tabs-item
          a(href="#").profile-article__tabs-link Черновики
        li.profile-article__tabs-item
          a(href="#").profile-article__tabs-link Избранное
      button.profile-article__add-article Добавить запись
    //end header-row-main
  //end profile-article__header

  //begin profile-article__add-articles
  .profile-article__add-articles
    h3.profile-article__add-articles-title У Вас еще нет записей, хотите добавить?
    button.btn.btn--dark Добавить запись
  //end profile-article__add-articles
//end profile-article-empty
