extends ../_template

mixin profile-teacher-education__sertificate-slide()
  li.profile-teacher-education__sertificate-slide
    a(href="assets/img/sertificate.jpg" data-fancybox="sertificate")
      img(src="assets/img/sertificate.jpg" alt="seftificate")
    .profile-teacher-education__sertificate-cover
      +svg('magnific')

mixin profile-teacher__course(pic, title)
  li.profile-teacher__course
    a(href="#").profile-teacher__course-link
      .profile-teacher__course-pic
        img(src="assets/img/course-" + pic + ".jpg" alt="pic")
      h5.profile-teacher__course-title #{title}

mixin profile-teacher__reviews-slide(pic, text)
  li.profile-teacher__reviews-slide
    .profile-teacher__reviews-iframe
      iframe(src='https://www.youtube.com/embed/an28rVke-MI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .profile-teacher__reviews-video-cover(style="background-image:url('assets/img/youtube.svg'), url('assets/img/review-" + pic + ".jpg');")
    .profile-teacher__reviews-text
      span #{text}

mixin profile-teacher__reviews-t-slide()
  li.profile-teacher__reviews-t-slide
    .profile-teacher__reviews-t-slide-inn
      .profile-teacher__reviews-t-header
        .profile-teacher__reviews-t-ava
          img(src="assets/img/reviews-ava.jpg" alt="ava")
        .profile-teacher__reviews-t-info
          h4.profile-teacher__reviews-t-name Катерина Егорова
          .profile-teacher__reviews-t-course
            span.profile-teacher__reviews-t-course-text Курс:
            span.profile-teacher__reviews-t-course-name Психология
        .profile-top-teacher__rait-svg.profile-top-teacher__rait-svg--4
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
          include ../elements/yellow-star-2
      .profile-teacher__reviews-t-body
        p Включает в себя фундамента́льную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладну́ю психологию, изучающую, с опорой на данные фундаментальной психологии, психические явления в
      .profile-teacher__reviews-t-footer
        a(href="#").profile-teacher__reviews-t-link
          span Подробнее
          .svg
            +svg('arr-down')


block variables
  - var title       = 'Master Vision'
  - var description = 'Master Vision'
  - var ogtitle     = 'Master Vision'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.course
      include ../sections/profile-header
      include ../sections/course-top
      include ../sections/course-about
      include ../sections/course-schedule
      include ../sections/course-banner

      .container.profile-teacher-reviews-t
        h3.profile-teacher__section-title Отзывы
        //begin profile-teacher__reviews-t-slider
        ul.profile-teacher__reviews-t-slider
          +profile-teacher__reviews-t-slide('01', 'Основы общей психологии это крутой курс! Он сильно мне помог')
          +profile-teacher__reviews-t-slide('02', 'Основы общей психологии это крутой курс! Даша посоветовала')
          +profile-teacher__reviews-t-slide('03', 'Основы общей психологии это крутой курс!')
          +profile-teacher__reviews-t-slide('01', 'Основы общей психологии это крутой курс! Он сильно мне помог')
          +profile-teacher__reviews-t-slide('02', 'Основы общей психологии это крутой курс! Даша посоветовала')
          +profile-teacher__reviews-t-slide('03', 'Основы общей психологии это крутой курс!')
        //end profile-teacher__reviews-t-slider


      .container.profile-teacher-courses
        h3.profile-teacher__section-title Похожие курсы
        //begin profile-teacher__courses
        .profile-teacher__courses
          ul.profile-teacher__courses-list
            +profile-teacher__course('01', 'Основы общей психологии для чайников')
            +profile-teacher__course('02', 'Основы общей психологии для женщин и мужчин')
            +profile-teacher__course('03', 'Основы общей психологии для чайников')
            +profile-teacher__course('04', 'Основы общей психологии')
          a(href="#").profile-teacher__courses-all
            span Посмотреть все
            .svg
              +svg('arr-down')
        //end profile-teacher__courses
    //end content

    include ../sections/footer
