extends ../_template

mixin profile-aside__menu-item(svg, text, active)
  //begin profile-aside__menu-item
  li(class='profile-aside__menu-item ' + active + '')
    a(href="#").profile-aside__menu-link
      div(class='profile-aside__menu-svg profile-aside__menu-svg--' + svg +'')
        svg
          use(xlink:href="assets/img/sprite.svg#" + svg + "")
      span.profile-aside__menu-text #{text}
  //end profile-aside__menu-item

block variables
  - var title       = 'Master Vision'
  - var description = 'Master Vision'
  - var ogtitle     = 'Master Vision'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.profile-edit
      include ../sections/profile-header
      .container.profile-edit__header
        h2.profile-edit__title Редактирование профиля
        .profile-edit__return-btn
          a(href="#").btn.btn--light Вернуться на мою страницу

      .profile-main
        .container
          //begin profile-aside
          .profile-aside
            //begin profile-aside__menu
            nav.profile-aside__menu.aside-item
              ul.profile-aside__menu-list
                +profile-aside__menu-item('paper', 'Основная информация', '')
                +profile-aside__menu-item('hat', 'Образование','active')
                +profile-aside__menu-item('lock', 'Личная информация','')
                +profile-aside__menu-item('invite', 'Пригласить друга','')
                +profile-aside__menu-item('wallet', 'Мой счет','')
            //end profile-aside__menu
          //end profile-aside

          //begin profile-edit-body
          .profile-edit-body
            //begin profile-edit__form
            form.profile-edit__form
              //begin profile-edit__form-top
              .profile-edit__form-top
                h3.profile-edit__form-title Образование
                .profile-edit__form-row
                  .profile-edit__form-label Учебное заведение (ВУЗ, Курсы):
                  .profile-edit__form-input-wrap
                    input.profile-edit__form-input
                .profile-edit__form-row
                  .profile-edit__form-label Направление:
                  .profile-edit__form-input-wrap
                    input.profile-edit__form-input
                .profile-edit__form-row
                  .profile-edit__form-label Годы обучения:
                  .profile-edit__form-input-wrap
                    input.profile-edit__form-input
                .profile-edit__form-row.profile-edit__form-row--add
                  .profile-edit__form-label
                  .profile-edit__form-input-wrap
                    +svg('invite')
                    span Добавить учебное заведение
              //end profile-edit__form-top

              //begin profile-edit__form-top
              .profile-edit__form-top.profile-edit__form-top--last
                h3.profile-edit__form-title Карьера
                .profile-edit__form-row
                  .profile-edit__form-label Место работы:
                  .profile-edit__form-input-wrap
                    input.profile-edit__form-input
                .profile-edit__form-row
                  .profile-edit__form-label Должность:
                  .profile-edit__form-input-wrap
                    input.profile-edit__form-input
                .profile-edit__form-row
                  .profile-edit__form-label Годы работы:
                  .profile-edit__form-input-wrap
                    input.profile-edit__form-input
                .profile-edit__form-row.profile-edit__form-row--add
                  .profile-edit__form-label
                  .profile-edit__form-input-wrap
                    +svg('invite')
                    span Добавить место работы
              //end profile-edit__form-top

              //begin profile-edit__form-footer
              .profile-edit__form-footer
                button.btn.btn--grey.profile-edit__form-footer--prev Назад
                button.btn.btn--dark.profile-edit__form-footer--next Далее
              //end profile-edit__form-footer
            //end profile-edit__form
          //end profile-edit-body

    //end content

    include ../sections/footer
