extends ../_template

mixin profile-message__item(pic, name, time, className, text)
  //begin profile-message__item
  div(class="profile-message__item " + className)
    .profile-message__item-ava
      img(src="assets/img/message-ava-" + pic + ".jpg" alt="picture")
    .profile-message__item-text
      .profile-message__item-header
        h4.profile-message__item-name #{name}
        span.profile-message__item-time #{time}
      .profile-message__item-message #{text}
  //end profile-message__item

block variables
  - var title       = 'Master Vision'
  - var description = 'Master Vision'
  - var ogtitle     = 'Master Vision'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.profile-message
      include ../sections/header/profile-header
      .container.profile-edit__header
        h2.profile-edit__title Все сообщения
        .profile-edit__return-btn
          a(href="#").btn.btn--light Вернуться на мою страницу

      .profile-main
        .container

          //begin profile-message__block
          .profile-message__block
            .profile-message__header
              .profile-message__search
                form
                  input(type='search' placeholder='Поиск по сообщениям').profile-message__search-input
                  input(type='submit').profile-message__search-submit
                  .profile-message__search-btn
                    +svg('magnific')
              a(href="#popup-discussion").btn.btn--light.popup-open
                span Создать беседу

            //begin profile-message__body
            .profile-message__body
              .profile-message__body-items
                //begin profile-message__item
                .profile-message__item.active
                  .profile-message__item-ava.message-ava-color-02
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50")
                      path(class="rupor" fill="#9a9be9" d="M25 0c13.807 0 25 11.193 25 25S38.807 50 25 50 0 38.807 0 25 11.193 0 25 0z")
                      path(fill="#fff" d="M25.508 33.74c0 .466-.275.889-.705 1.086a1.245 1.245 0 0 1-1.304-.162l-6.703-5.437h-3.57a1.214 1.214 0 0 1-1.226-1.2v-4.783c0-.663.549-1.2 1.226-1.2h3.57l6.703-5.438c.367-.297.874-.36 1.304-.162.43.198.705.621.705 1.086v16.21zm4.712-1.876c-.03.002-.059.004-.088.004-.324 0-.637-.126-.867-.352l-.165-.161a1.181 1.181 0 0 1-.118-1.564 6.832 6.832 0 0 0 1.403-4.156c0-1.62-.55-3.141-1.592-4.397a1.181 1.181 0 0 1 .085-1.605l.164-.16c.244-.24.573-.371.928-.35.346.017.67.176.888.439a9.371 9.371 0 0 1 2.208 6.074c0 2.089-.675 4.078-1.952 5.75-.213.279-.54.454-.894.478zm5.069 3.71a1.237 1.237 0 0 1-.937.426 1.24 1.24 0 0 1-.867-.352l-.161-.157a1.182 1.182 0 0 1-.072-1.622 12.651 12.651 0 0 0 3.067-8.234c0-3.128-1.166-6.14-3.283-8.48a1.182 1.182 0 0 1 .05-1.642l.16-.158c.239-.234.548-.364.904-.353.338.01.657.156.881.403A15.207 15.207 0 0 1 39 25.635a15.23 15.23 0 0 1-3.71 9.939z")
                  .profile-message__item-text
                    .profile-message__item-header
                      h4.profile-message__item-name Обсуждения курса психология
                      span.profile-message__item-time 21:31
                    .profile-message__item-message Здравствуйте! Давайте обсудим обучение на нашем курсе "Психология".
                //end profile-message__item
                +profile-message__item('02', 'Дарья Михайлова',      '21:30',    '', 'Спасибо!')
                +profile-message__item('03', 'Алена Иванова',        '15:31',    '', 'Здравствуйте!')
                +profile-message__item('04', 'Александра Степанова', '30.06.19', '', 'Здравствуйте! Давайте обсудим обучение на нашем курсе "Психология".')
                +profile-message__item('05', 'Дарья Михайлова',      '15.06.19', '', 'Здравствуйте! Давайте обсудим обучение на нашем курсе "Психология".')
                +profile-message__item('06', 'Александра Степанова', '15.06.19', '', 'Здравствуйте! Давайте обсудим обучение на нашем курсе Давайте обсудим обучение на нашем курсе Давайте обсудим обучение на нашем курсе Давайте обсудим обучение на нашем курсе Давайте обсудим обучение на нашем курсе Давайте обсудим обучение на нашем курсе "Психология".')
                a(href="#").profile-message__load-more Загрузить еще

              .profile-message__body-messages
                .profile-message__message-field
                  //begin profile-message__message-field-header
                  .profile-message__message-field-header
                    .profile-message__message-field-user
                      .profile-message__message-field-user-ava.message-ava-color-02
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50")
                          path(class="rupor" fill="#9a9be9" d="M25 0c13.807 0 25 11.193 25 25S38.807 50 25 50 0 38.807 0 25 11.193 0 25 0z")
                          path(fill="#fff" d="M25.508 33.74c0 .466-.275.889-.705 1.086a1.245 1.245 0 0 1-1.304-.162l-6.703-5.437h-3.57a1.214 1.214 0 0 1-1.226-1.2v-4.783c0-.663.549-1.2 1.226-1.2h3.57l6.703-5.438c.367-.297.874-.36 1.304-.162.43.198.705.621.705 1.086v16.21zm4.712-1.876c-.03.002-.059.004-.088.004-.324 0-.637-.126-.867-.352l-.165-.161a1.181 1.181 0 0 1-.118-1.564 6.832 6.832 0 0 0 1.403-4.156c0-1.62-.55-3.141-1.592-4.397a1.181 1.181 0 0 1 .085-1.605l.164-.16c.244-.24.573-.371.928-.35.346.017.67.176.888.439a9.371 9.371 0 0 1 2.208 6.074c0 2.089-.675 4.078-1.952 5.75-.213.279-.54.454-.894.478zm5.069 3.71a1.237 1.237 0 0 1-.937.426 1.24 1.24 0 0 1-.867-.352l-.161-.157a1.182 1.182 0 0 1-.072-1.622 12.651 12.651 0 0 0 3.067-8.234c0-3.128-1.166-6.14-3.283-8.48a1.182 1.182 0 0 1 .05-1.642l.16-.158c.239-.234.548-.364.904-.353.338.01.657.156.881.403A15.207 15.207 0 0 1 39 25.635a15.23 15.23 0 0 1-3.71 9.939z")
                      h3.profile-message__message-field-user-name Обсуждение курса Психология
                    a(href="#popup-add-users").profile-message__message-field-del.popup-open
                      span Редактировать
                      +svg('edit')
                  //end profile-message__message-field-header

                  //begin profile-message__messages-list
                  .profile-message__messages-list
                    .profile-message__message-row
                      .profile-message__message.profile-message__message--left
                        h3.profile-message__message-user Александра Степанова
                        span Здравствуйте! Давайте обсудим обучение на нашем курсе.
                        .profile-message__message-time 21:30

                    .profile-message__message-row
                      .profile-message__message.profile-message__message--right
                        span Здравствуйте! Давайте да. Одиннадцатиклассница-одиннадцатиклассница
                        .profile-message__message-time 21:31

                    .profile-message__message-row
                      .profile-message__message.profile-message__message--left
                        h3.profile-message__message-user Марина Ким
                        span Здравствуйте! Давайте обсудим обучение на нашем курсе.
                        .profile-message__message-time 21:30
                  //end profile-message__messages-list
                include ../sections/articles/profile-comment-footer
            //end profile-message__body

          //end profile-message__block
    //end content

    include ../sections/footer
