extends ../_template

block variables
  - var title       = 'Master Vision'
  - var description = 'Master Vision'
  - var ogtitle     = 'Master Vision'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.profile-teacher
      include ../sections/profile-header
      include ../sections/profile-top-teacher
      .profile-main
        .container
          include ../sections/profile-aside
          include ../sections/profile-articles
    //end content

    include ../sections/footer
