//begin profile-article__comment
.profile-article__comment.profile-article__comment-1
  header.profile-article__comment-header
    .profile-article__comment-ava
      img(src="assets/img/aside-friends/friend-01.jpg" alt="ava")
    h3.profile-article__comment-name Катерина Егорова
  .profile-article__comment-body
    p Включает в себя фундаментальную психологию, выявляющую факты, механизмы и законы психической деятельности, прикладную психологию, изучающую, с опорой на данные фундаментальной психологии, психические явления в естественных условиях, и практическую психологию.
  footer.profile-article__comment-footer
    span.profile-article__comment-date 18.06.2019
    span.profile-article__comment-answer Ответить
    span.profile-article__comment-complaint Пожаловаться
//end profile-article__comment
