.my-course__header {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 15px;
  @include max(600) {
    flex-direction: column-reverse;
  }
}

.my-course__header-left {
  padding-top: 10px;
}

.my-course__title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.my-course__return-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  .btn {
    min-width: 185px;
  }
}

.my-course__header-label {
  display: inline-block;
  margin-bottom: 10px;
  padding: 3px 24px;
  span {
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }
}

.my-course__header-label--psychology {
  background-image: linear-gradient(to right, #11b794 0%, #69e1c8 100%);
}

.my-course-main{
  .container{
    align-items: flex-start;
    display: flex;
    @include max(760) {
      flex-direction: column;
    }
  }
}

.my-course-body{
  width: 100%;
  margin-bottom: 60px;
}