.profile-teacher {
  .profile-aside {
    margin-top: 91px;

    @include max(860) {
      margin-top: 30px;
    }
  }
}

.profile-teacher__blockquote {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 120px;
  blockquote {
    font-family: $font;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 23px;
    margin: 0 0 0 370px;
    padding: 20px 0 20px 60px;
    color: #1e1e1e;
    background-image: url('../img/blockquote.svg');
    background-repeat: no-repeat;
    background-position: 0 17px;

    @include max(860) {
      margin: 0 0 0 320px;
    }
    @include max(680) {
      margin: 0;
    }
  }
}

.profile-teacher-main {
  display: flex;

  @include max(950) {
    flex-wrap: wrap;
  }
}

//begin about
.profile-teacher-about {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  iframe {
    display: block;
    width: 100%;
    min-height: 350px;
    margin-bottom: 17px;
    border-radius: 5px;
  }

  p {
    margin-bottom: 24px;
  }
}

.profile-teacher-about__title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  color: #1e1e1e;
}

//end about

//begin education
.profile-teacher-education {
  overflow: hidden;
  flex: none;
  width: 470px;
  margin-bottom: 30px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;

  @include max(950) {
    width: 100%;
    margin-left: 0;
  }
}

.profile-teacher-education__title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  color: #1e1e1e;
}

.profile-teacher-education__list {
  margin: 0 0 30px 0;
  padding: 10px 0 0 0;
  border-bottom: 1px solid #e4e4f2;
}

.profile-teacher-education__item {
  position: relative;
  padding: 0 0 22px 40px;
  list-style: none;
  &:last-child {
    &::after {
      display: none;
    }
  }

  &::before {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 2px;
    width: 13px;
    height: 13px;
    content: '';
    border-radius: 50%;
    background-color: $highlight-v;
  }
  &::after {
    position: absolute;
    top: 5px;
    bottom: -5px;
    left: 8px;
    width: 1px;
    content: '';
    opacity: .3;
    background-color: $highlight-v;
  }
  span {
    font-family: $font;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    display: block;
    color: #1e1e1e;
  }
  .sm {
    color: #99a1ba;
  }
}

.profile-teacher-education__sertificate-slider {
  width: calc(100% + 20px);
  max-width: 450px;
  margin: 0 0 0 -10px;
  padding: 0;
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    content: '';
    opacity: .5;
    background-color: #fff;

    @include max(500) {
      display: none;
    }
  }
  .slick-prev,
  .slick-next {
    z-index: 2;
    width: 40px;
    height: 40px;
    transition: .5s;
    border-radius: 50% !important;
    background-color: #99a1ba;
    background-image: url('../img/arr-right.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px 15px;
    &:hover {
      background-color: $highlight-v;
    }
  }
  .slick-prev {
    left: -10px;
    display: none !important;
    transform: translate(0, -50%) rotate(180deg);

    @include max(500) {
      display: block !important;
    }
  }
  .slick-next {
    right: 50px;

    @include max(500) {
      right: -10px;
    }
  }
}

.profile-teacher-education__sertificate-slide {
  position: relative;
  padding: 0 10px;
  list-style: none;
  img {
    display: block;
    width: 100%;
  }
  &:hover {
    .profile-teacher-education__sertificate-cover {
      opacity: 1;
    }
  }
}

.profile-teacher-education__sertificate-cover {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 0;
  border: 2px solid $highlight-v;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: auto;
    content: '';
    border-radius: 50%;
    background-color: $highlight-v;
  }
  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    fill: #fff;
    width: 14px;
    height: 13px;
    margin: auto;
  }
}

//end education

//begin courses
.profile-teacher-courses {
  margin-bottom: 30px;
  .courses-list {
    display: flex;
    flex-wrap: wrap;

    @include max(950) {
      justify-content: space-between;
    }
  }
}

.profile-teacher__section-title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 28px;
  color: #1e1e1e;
}

.profile-teacher__courses-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.profile-teacher__course {
  overflow: hidden;
  width: 23%;
  margin-bottom: 20px;
  padding: 18px 18px 12px 18px;
  transition: border-color .5s;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;

  @include max(860) {
    width: calc(50% - 10px);
  }

  &:hover {
    border-color: $highlight-v;
    .profile-teacher__course-title {
      color: $highlight-v;
    }
  }
}

.profile-teacher__course-link {
  text-decoration: none;
}

.profile-teacher__course-pic {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
  img {
    display: block;
    width: 100%;
  }
}

.profile-teacher__course-title {
  font-family: $font;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
  transition: color .5s;
  color: #1e1e1e;

  @include max(375) {
    font-size: 13px;
    line-height: 18px;
  }
}

.profile-teacher__courses-all {
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    span {
      color: $highlight-v;
    }
  }
  span {
    font-family: $font;
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-right: 12px;
    color: $highlight-v;
  }
  .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    transform: rotate(-90deg);
    border-radius: 50%;
    background-color: $highlight-v;
    svg {
      fill: #fff;
      width: 9px;
      height: 4px;
    }
  }
}

//end courses

//begin reviews
.profile-teacher-reviews {
  overflow: hidden;
}

.profile-teacher__reviews-slider {
  width: calc(100% + 30px);
  margin: 0 -15px 35px -15px;
  padding: 0;

  @include max(425) {
    width: calc(100% + 20px);
    margin: 0 -10px 35px -10px;
  }

  .slick-prev,
  .slick-next {
    z-index: 2;
    width: 40px;
    height: 40px;
    transition: .5s;
    border-radius: 50% !important;
    background-color: #99a1ba;
    background-image: url('../img/arr-right.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px 15px;
    &:hover {
      background-color: $highlight-v;
    }
  }
  .slick-prev {
    top: 115px;
    left: -5px;
    display: none !important;
    transform: translate(0, -50%) rotate(180deg);

    @include max(768) {
      left: 5px;
      display: block !important;
    }

    &.active {
      display: block !important;
    }
  }
  .slick-next {
    top: 115px;
    right: -5px;

    @include max(768) {
      right: 5px;
    }
  }
}

.profile-teacher__reviews-slide {
  padding: 0 15px;
  iframe {
    display: block;
    width: 100%;
    min-height: 230px;
    margin-bottom: 17px;
    border-radius: 5px;
  }
}

.profile-teacher__reviews-text {
  span {
    font-family: $font;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    display: block;
    color: #1e1e1e;
  }
}

//end reviews

//begin text reviews
.profile-teacher__reviews-t {
  overflow: hidden;
}

.profile-teacher__reviews-t-slider {
  width: calc(100% + 30px);
  margin: 0 0 30px -15px;
  padding: 0;

  @include max(425) {
    width: calc(100% + 20px);
    margin: 0 0 30px -10px;
  }

  .slick-track {
    display: flex;
  }

  .slick-prev,
  .slick-next {
    z-index: 2;
    width: 40px;
    height: 40px;
    transition: .5s;
    border-radius: 50% !important;
    background-color: #99a1ba;
    background-image: url('../img/arr-right.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px 15px;
    &:hover {
      background-color: $highlight-v;
    }
  }
  .slick-prev {
    left: -5px;
    display: none !important;
    transform: translate(0, -50%) rotate(180deg);

    @include max(950) {
      display: block !important;
    }
    @include max(768) {
      left: 5px;
    }

    &.active {
      display: block !important;
    }
  }
  .slick-next {
    right: -5px;

    @include max(768) {
      right: 5px;
    }
  }
}

.profile-teacher__reviews-t-slide {
  padding: 0 15px;
  &.slick-slide {
    display: flex;
    height: auto;
  }
  .profile-top-teacher__rait-svg {
    margin-left: auto;

    @include max(500) {
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
      padding-left: 43px;
    }

    svg {
      margin-right: 0;
      margin-left: 7px;
    }
  }
}

.profile-teacher__reviews-t-slide-inn {
  overflow: hidden;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.profile-teacher__reviews-t-header {
  display: flex;

  @include max(500) {
    flex-wrap: wrap;
  }
}

.profile-teacher__reviews-t-ava {
  overflow: hidden;
  flex: none;
  width: 36px;
  height: 36px;
  margin-right: 14px;
  border-radius: 50%;
  img {
    display: block;
    width: 100%;
  }
}

.profile-teacher__reviews-t-name {
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #1e1e1e;
}

.profile-teacher__reviews-t-course {
  display: flex;
  align-items: baseline;
}

.profile-teacher__reviews-t-course-text {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  padding-right: 5px;
  color: #99a1ba;
}

.profile-teacher__reviews-t-course-name {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  color: $highlight-v;
}

.profile-teacher__reviews-t-body {
  padding-left: 50px;
  p {
    font-family: $font;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    color: #1e1e1e;
  }
}

.profile-teacher__reviews-t-footer {
  padding-left: 50px;
}

.profile-teacher__reviews-t-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    span {
      opacity: .4;
      color: $highlight-v;
    }
    .svg {
      opacity: .4;
    }
  }
  span {
    font-family: $font;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    transition: opacity .5s;
    color: $highlight-v;
  }
  .svg {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    margin-left: 9px;
    transition: opacity .5s;
    transform: rotate(-90deg);
    border-radius: 50%;
    background-color: $highlight-v;
    svg {
      fill: #fff;
      width: 9px;
      height: 6px;
    }
  }
}

.profile-teacher__reviews-about {
  display: flex;
  align-items: center;
  margin-bottom: 70px;

  svg {
    flex: none;
    fill: #99a1ba;
    width: 45px;
    height: 53px;
    margin-right: 23px;
  }
}

.profile-teacher__reviews-about-text {
  span {
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    display: block;
    color: #99a1ba;
  }
}

//end text reviews
