.teachers-header {
  margin-bottom: 33px;
}

.teachers-header__title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #1e1e1e;
}

.teachers-main {
  .container {
    display: flex;
    align-items: flex-start;

    @include max(760) {
      flex-wrap: wrap;
    }
  }
}

.teachers-aside {
  overflow: hidden;
  flex: none;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;

  @include max(760) {
    width: 100%;
    margin-right: 0;
  }
}

.teachers-filter__title {
  font-family: $font;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #1e1e1e;
}

.teachers-filter__select {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
  padding: 12px 30px 9px 20px;
  color: #1e1e1e;
  border: none;
  border-radius: 18px !important;
  background-color: #f0f0f5;
  background-image: url('../img/arr-selectbox.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;

  appearance: none;
  @include placeholder-color(#99a1ba);
}

.teachers-filter__checkbox {
  margin: 7px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.teachers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 35px;
}

.teachers-item {
  position: relative;
  width: calc(50% - 15px);
  margin-bottom: 30px;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  background-color: #fff;

  @include max(1150) {
    width: 100%;
  }
}

.teachers-item--recommend,
.teachers-item--chosen,
.teachers-item--exclusive {
  &::before {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 80px;
    height: 80px;
    content: '';
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60px 60px;

    @include max(350) {
      top: -25px;
      width: 50px;
      height: 50px;
      background-size: 40px 40px;
    }
  }
}

.teachers-item--recommend {
  &::before {
    background-color: #fc4c3b;
    background-image: url('../img/recommend-2.png');
  }
}

.teachers-item--exclusive {
  &::before {
    background-color: #f9ac13;
    background-image: url('../img/exclusive-2.png');
  }
}

.teachers-item--chosen {
  &::before {
    background-color: #1cac54;
    background-image: url('../img/chosen-2.png');
  }
}

.teachers-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.teachers-item__ava {
  overflow: hidden;
  flex: none;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  img {
    display: block;
    width: 100%;
  }
}

.teachers-item__rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  svg {
    flex: none;
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
}

.teachers-item__rating--1 svg:nth-child(n+2) {
  .svg-star-rait {
    fill: #fff;
  }
}

.teachers-item__rating--2 svg:nth-child(n+3) {
  .svg-star-rait {
    fill: #fff;
  }
}

.teachers-item__rating--3 svg:nth-child(n+4) {
  .svg-star-rait {
    fill: #fff;
  }
}

.teachers-item__rating--4 svg:nth-child(n+5) {
  .svg-star-rait {
    fill: #fff;
  }
}

.teachers-item__rating-numb {
  font-family: $font;
  font-size: 14px;
  font-weight: 700;
  padding-top: 2px;
  color: #fc6;
}

.teachers-item__name {
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #1e1e1e;
}

.teachers-item__course {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: $highlight-v;
  &:hover {
    color: $highlight-v;
  }
}

.teachers-item__footer {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
  .btn {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 17px;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
  }
}
