.tnx-page {
  min-height: 635px;
  background-color: #f0f0f5;
  background-image: url('../img/bg-tnx.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;

  @include max(1200) {
    background-size: cover;
  }
  @include max(1024) {
    background-position: 30% 100%;
  }
  @include max(860) {
    background-position: 20% 100%;
  }
  @include max(760) {
    background-image: url('../img/bg-tnx-mobile.png');
    background-position: 50% 50%;
    background-size: contain;
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }
  .btn {
    min-width: 146px;
  }
}

.tnx-page__info {
  width: 100%;
  max-width: 670px;
  padding-top: 90px;

  @include max(1140) {
    max-width: 500px;
  }
  @include max(950) {
    max-width: 400px;
    padding-top: 50px;
  }
  @include max(860) {
    max-width: 350px;
  }
  @include max(576) {
    max-width: 300px;
  }
  @include max(500) {
    max-width: 250px;
    padding-top: 80px;
  }
  @include max(375) {
    max-width: 200px;
  }
}

.tnx-page__title {
  font-family: $font;
  font-size: 25px;
  font-weight: 500;
  color: #f0f0f5;

  @include max(600) {
    font-size: 20px;
  }
  @include max(500) {
    font-size: 16px;
  }
  @include max(375) {
    font-size: 14px;
  }
}

.tnx-page__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  display: block;
  margin-bottom: 30px;
  color: #f0f0f5;

  @include max(600) {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  @include max(500) {
    font-size: 10px;
  }
}
